*{
    text-decoration: none;
    margin:0px;
    padding: 0px;
}
body{
    margin:0px;
    padding:0px;
    font-family: 'Open Sans',sans-serif;
}
.header{
    width:1100px;
    margin:auto;
    position: relative;
}
.logo a{
    font-size: 40px;
    font-weight: 800px;
    float: left;
    font-family: courier;
    color: #364F6B;
}
.menu{
    float:right;
    margin-right: 15px;
}
nav{
    width:100%;
    margin:auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    background: #FFFFFF;
    z-index: 1;
    border-bottom: 1px solid;
}
nav ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
nav ul li{
    float: left;
}
nav ul li a{
    color:black;
    font-weight: 200px;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}
nav ul li a:hover{
    text-decoration: underline;
}
section{
    margin:auto;
    display: flex;
    margin-bottom: 50px;
}
.kolom{
    margin-top: 50px;
    margin-bottom: 50px;
}
.kolom .deskripsi{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Times New Roman';
    margin-bottom: 20px;
    color: #364F6B;
}
h2{
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #364F6B;

}
a.tbl-biru{
    border-radius: 15px;
    margin-top: 20px;
    padding:10px 15px 10px 15px;
    cursor: pointer;
    font-weight:bold;
    color: #FFFFFF;
    background: #3f72af;
}
a.tbl-biru:hover{
    background: #fc5185;
    text-decoration: none;
}
.tengah{
    text-align: center;
    width: 100%;
}
.psikolog-list{
    width: 100%;
    position:relative;
    display: flex;
    flex-wrap: wrap;
}
.kartu-psikolog{
    width:20%;
    margin:0 auto;
}
.kartu-psikolog img{
    width:80%;
    border-radius:50%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.kartu-psikolog p{
    font-family: 'Times New Roman';
    font-weight: 800;
    font-size: 20px;
    text-align: center;
    margin-bottom: 25px;
    color: black;
}
  
.kolom .artikel_deskripsi{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Times New Roman';
    margin-bottom: 10px;
    color: #364F6B;
}
.grid_button:hover{
    background-color:var(--main-color-dark);
}
.grid{
    grid-gap:20px;
    align-items: stretch;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(280px,1fr));
}
.grid_card{
    background-color: var(--body-color);
    border-radius: .5rem;
    box-shadow: 0 2px 4px rgba(3,74,40,.15);
}
.grid_card-wrapper{
    padding: 1rem;
}
.grid_img{
    border-radius: .5rem .5rem 0 0;
    max-width: 100%;
}
.grid_title{
    font-size: clamp(1rem,5vw,1.25rem);
    letter-spacing: -.02em;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.grid_deskripsi{
    font-size:clamp(.75rem,5vw,.875rem);
    letter-spacing: .005em;
    line-height: 1.5rem;
}
.grid_button-wrapper{
    font-family: 'comic-sans-ms';
    margin: bottom 28px;
    margin-top: 24px;
}
#contact {
    background: #dedede;
    padding: 50px 0px 50px 0px;
}
.footer{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.footer-section{
    width: 20%;
    margin: 0 auto;
}
h4{
    font-family: courier;
    font-weight: 800;
    font-size: 35px;
    margin-bottom: 20px;
    color: #364F6B;
    width: 100px;
    line-height: 50px;
}
h5{
    font-family:courier ;
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 25px;
    color: #364F6B;
    width: 100%;
    line-height: 50px;
}
.media img{
    width: 15%;
}
.copyright{
    text-align: center;
    font-size: clamp(0.75rem, 5vw, 0.875rem);
    margin-top: 50px;
    color: black;
}
@media screen and (max-width: 991.98px) {
    .header {
        width: 90%;
    }
    .logo a {
        display: block;
        width: 100%;
        text-align: center;
    }
    nav .menu{
        width: 100%;
        margin:0;
    }
    nav .menu ul{
        text-align: center;
        margin:auto;
        line-height: 60px;
    }
    nav .menu ul li{
        display: inline-block;
        float: none;
    }
    section{
        display: block;
    }
    section img{
        display: block;
        width:100%;
        height: auto;
    }
    .kartu-psikolog{
        width: 50%;
    }
}